/*---Defining Constants---*/
:root
{
    --dark-blue: rgb(11, 11, 27);
    --light-blue: rgb(38, 83, 245);
    --mid-blue: rgb(25,25,112);
    --font-1: Arial, Helvetica, sans-serif;
    --bio-img: url("bio background.png");
    --dark-gold: RGB(161, 127, 26);
}
html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0px;
    padding: 0px;
}

/*---General Settings---*/
body
{
    padding: 0px;
    margin: 0px;
    background-color: var(--dark-blue);
    font-size: large;
    color: white;
    font-family: var(--font-1);
}

#intro
{
    margin: 5px;
    color: var(--dark-gold);
    display: flex;
    box-shadow: black 0 0 10px;
}

.bar
{
    width: 50%;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 0 0 20px white;
    margin: 10px;
}
.bar:hover
{
    font-size: x-large;
    font-weight: bolder;
    margin: 10px;
    transition: 0.25s;
}

.tabs
{
    width: 50%;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.tabs li
{
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: large;
}
.tabs a:hover
{
    color: var(--light-blue);
    font-weight: bold;
    transition: 0.25s;
    text-shadow: 0 0 10px var(--light-blue);
}
a
{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px white;
}

main
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
.pic
{
    margin: 10px;
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px var(--mid-blue);
    background-color: var(--mid-blue);
}
img
{
    width: 100%;
}

.bio
{
    height: 70%;
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    font-family: var(--font-1);
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    border: solid var(--mid-blue);
    box-shadow: 0 0 25px var(--mid-blue);

}
.greet
{
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 20px white;
}
.name
{
    font-size: xx-large;
    font-weight: bolder;
    color: var(--dark-gold);
    text-shadow: 0 0 20px var(--dark-gold);
}
.job
{
    font-size: x-large;
    font-weight: bold;
    color: var(--light-blue);
    text-shadow: 0 0 20px var(--light-blue);
}

.docs
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.cv
{
    padding: 5px 10px 5px 10px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px white;
    border-radius: 10px;
    font-size: 95%;
}
.linkedin
{
    width: 30%;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px white;
    border-radius: 10px;
}
.whatsapp
{
    width: 30%;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px white;
    border-radius: 10px;
    font-size: 95%;
    overflow: hidden;
}

#services
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
.head
{
    text-shadow: 0 0 5px white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
}
.services
{
    border-radius: 20px;
    width: clamp(100%, 75%, 50%);
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.service
{
    width: 500px;
    border-radius: 20px;
    margin: 10px;
    height: 90%;
    box-shadow: white 0 0 10px;
    display: flex;
    flex-direction: column;
    border: solid;
    align-items: center;
}
.service figure
{
     display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    padding: 10px;
}
.service img
{
    width: 50%;
    filter: drop-shadow(0 0 10px white);
}
.service span
{
    width: 90%;
    font-size: x-large;
    font-weight: bold;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
}
.service li
{
    list-style-type: square;
    padding: 5px;
    font-weight: bold;
}
.skills
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
.cards
{
    border-radius: 20px;
    width: clamp(100%, 75%, 50%);
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.cards
{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;

}
.skill
{
    width: 500px;
    border-radius: 20px;
    margin: 10px;
    height: 50%;
    box-shadow: white 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.skill figure
{
    display: flex;
    align-items: center;
    height: 50%;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    justify-content: center;
    gap: 10%;
    margin-top: 10px;
}
.skill figure li
{
    list-style: none;
}
.skill img
{
    width: 100px;
    filter: drop-shadow(0 0 10px white);
}
.skill span
{
    width: 90%;
    font-size: x-large;
    font-weight: bold;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
    display: flex;
    justify-content: center;
}
.skill li
{
    list-style-type: square;
    padding: 5px;
    font-weight: bold;
}

#contacts
{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
#contacts p
{
    font-weight: bold;
    font-size: larger;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
    padding: 10px;
}
.card
{
    gap: 20px;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc
{
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px  0px;
}
.soc img
{
    width: 100px;
    filter: drop-shadow(0 0 10px var(--light-blue));
}
.soc li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.pro
{
    width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px  0px;
}
.pro img
{
    width: 100px;
    filter: drop-shadow(0 0 10px var(--light-blue));
}
.pro li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
