/*---Defining Constants---*/
:root
{
    --dark-blue: rgb(11, 11, 27);
    --light-blue: rgb(38, 83, 245);
    --mid-blue: rgb(25,25,112);
    --font-1: Arial, Helvetica, sans-serif;
    --bio-img: url("bio background.png");
    --dark-gold: RGB(161, 127, 26);
    --intro-height: 10vh;
}
html
{
    scroll-behavior: smooth;
}

*
{
    margin: 0px;
    padding: 0px;
}

/*---General Settings---*/
body
{
    margin: 0px;
    background-color: var(--dark-blue);
    font-size: large;
    color: white;
    font-family: var(--font-1);
    scroll-snap-type: y mandatory;
    scroll-padding: 100vh;
}


@media screen and (min-width: 1000px)
{
    #intro
{
    height: 90px;
    color: var(--dark-gold);
    display: flex;
    box-shadow: black 0 0 10px;
    scroll-snap-align: start;
}
.bar
{
    width: 30%;
    color: white;
    font-size: xx-large;
    font-weight: 900;
    text-shadow: 0 0 20px white;
    margin: 10px;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.bar:hover
{
    font-size: 900;
    font-weight: 900;
    margin: 10px;
    transition: 0.25s;
}
.tabs
{
    width: 60%;
    margin: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.tabs li
{
    flex: 1 0 0;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: large;
    text-shadow: 0 0 10px white;
}
.tabs a:hover
{
    color: var(--light-blue);
    font-weight: bold;
    transition: 0.25s;
    text-shadow: 0 0 10px var(--light-blue);
}
a
{
    text-decoration: none;
    color: white;
}

main
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    scroll-snap-align: start;
}
.pic
{
    margin: 10px;
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px var(--mid-blue);
    background-color: var(--mid-blue);
}

.banner
{
    height: fit-content;
    margin: 10px;
}
img
{
    width: 100%;
}
.bio
{
    height: 80%;
    width: 50%;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    font-family: var(--font-1);
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    border: solid var(--mid-blue);
    box-shadow: 0 0 25px var(--mid-blue);
    overflow: hidden;
}
.greet
{
    font-size: larger;
    font-weight: bold;
    text-shadow: 0 0 20px white;
    display: flex;
    justify-content: center;
}
.name
{
    font-size: xxx-large;
    font-weight: bolder;
    color: var(--dark-gold);
    text-shadow: 0 0 20px var(--dark-gold);
    display: flex;
    justify-content: center;
}
.wrap
{
    padding: 0;
    width: 100%;
    height: 30px;
    display: flex;
    font-family: 'Times New Roman';
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    color: var(--light-blue);
    text-shadow: 0 0 20px var(--light-blue);
}
.sum
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: x-large;
}
.docs
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.cv
{
    padding: 5px 10px 5px 10px;
    box-shadow: 0 0 10px var(--light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mid-blue);
    border-radius: 10px;
    font-size: 95%;
    font-weight: bold;
}
#services
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    scroll-snap-align: start;
}
.head
{
    text-shadow: 0 0 5px white;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    font-size: 5vh;
}
.services
{
    border-radius: 20px;
    width: 100%;
    height: 90%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
}
.service
{
    width: 700px;
    height: 100%;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    box-shadow: white 0 0 10px;
}
.service figure
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
}
.service img
{
    height: 100%;
    filter: drop-shadow(0 0 10px white);
}
.service div
{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service span
{
    width: 100%;
    font-size: 100%;
    font-weight: bold;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.service p
{
    padding: 5px;
    font-weight: bold;
    font-size: medium;
}
.skills
{
    height: 100vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}
.cards
{
    border-radius: 20px;
    width: clamp(100%, 75%, 50%);
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.cards
{
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;

}
.skill
{
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: 50%;
    box-shadow: white 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill figure
{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    justify-content: space-evenly;
    height: 60%;
    padding-top: 10px;
}
.skill figure li
{
    list-style: none;
    height: 100%;
}

.skill img
{
    height: 100%;
    filter: drop-shadow(0 0 10px white);
}
span
{
    width: 90%;
    font-size: 5vw;
    font-weight: bold;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.skill li
{
    list-style-type: square;
    padding: 5px;
    font-weight: bold;
}

#projects
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    scroll-snap-align: start;
}
.head
{
    text-shadow: 0 0 5px white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    font-size: 5vh;
}
.projects
{
    border-radius: 20px;
    width: 95%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.project
{
    width: 100%;
    border-radius: 20px;
    margin: 10px;
    height: 95%;
    box-shadow: white 0 0 10px;
    display: flex;
    border: solid;
    align-items: center;
    justify-content: center;
    border: none;
    flex-wrap: wrap;
    column-gap: 5%;
}
.project figure
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 10px;
}
.project img
{
    height: 100%;
    filter: drop-shadow(0 0 10px white);
}
.project span
{
    width: 100%;
    font-size: 3.5vh;
    font-weight: bold;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
    display:flex ;
    justify-content: center;
    align-items: center;
}
.project .p
{
    width: 400px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.p p 
{
    font-weight: bold;
    padding-top: 5px;
}
.more
{
    height: fit-content;
    width: fit-content;
    border: solid 1px var(--light-blue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 10px;
    font-size: 25px;
    box-shadow: 0 0 20px 0 var(--light-blue);
    text-shadow: none;
    background-color: var(--light-blue);
}

#contacts
{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    scroll-snap-align: start;
}
#contacts p
{
    font-weight: bold;
    font-size: 3vh;
    color: var(--light-blue);
    text-shadow: var(--light-blue) 0 0 10px;
    padding: 10px;
}
.card
{
    gap: 20px;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.soc
{
    border-radius: 20px;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px  0px;
}
.soc img
{
    width: 100px;
    filter: drop-shadow(0 0 10px var(--light-blue));
    width: 20vh;
}
.soc li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.pro
{
    width: 50%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px  0px;
}
.pro img
{
    width: 20vh;
    filter: drop-shadow(0 0 10px var(--light-blue));
}
.pro li
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
}
@media screen and (max-width: 1000px) 
{
    #intro
        {
            height: 50px;
            display: flex;
            margin-top: 10px;
            color: var(--dark-gold);
            scroll-snap-align: start;
            box-shadow: black 0 0 10px;
        }

        .bar
        {
            width: 50%;
            margin: 10px;
            display: flex;
            color: white;
            font-size: 1500;
            font-weight: 900;
            align-items: center;
            justify-content: center;
            text-shadow: 0 0 20px white;
        }
        .bar:hover
        {
            margin: 10px;
            font-size: 900;
            font-weight: 900;
            transition: 0.25s;
        }

        .tabs
        {
            width: 50%;
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
        }
        .tabs li
        {
            flex: 1 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: large;
            text-shadow: 0 0 10px white;
        }
        .tabs a:hover
        {
            color: var(--light-blue);
            font-weight: bold;
            transition: 0.25s;
            text-shadow: 0 0 10px var(--light-blue);
        }
        a
        {
            text-decoration: none;
            color: white;
        }

        main
        {
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 50px;
            border-radius: 20px;
            box-shadow: 5px 5px 20px black;
            scroll-snap-align: start;
        }
        .pic
        {
            margin: 10px;
            width: 500px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 30px var(--mid-blue);
            background-color: var(--mid-blue);
        }

        .banner
        {
            height: fit-content;
            margin: 10px;
        }
        img
        {
            width: 100%;
        }
        .bio
        {
            height: 80%;
            width: 1000px;
            margin: 10px;
            border-radius: 20px;
            padding: 10px;
            font-family: var(--font-1);
            display: flex;
            flex-direction: column;
            gap: 20%;
            justify-content: center;
            border: solid var(--mid-blue);
            box-shadow: 0 0 25px var(--mid-blue);
            overflow: hidden;
        }
        .greet
        {
            font-size: larger;
            font-weight: bold;
            text-shadow: 0 0 20px white;
            display: flex;
            justify-content: center;
        }
        .name
        {
            font-size: xx-large;
            font-weight: bolder;
            color: var(--dark-gold);
            text-shadow: 0 0 20px var(--dark-gold);
            display: flex;
            justify-content: center;
        }
        .wrap
        {
            padding: 0;
            width: 100%;
            height: 30px;
            display: flex;
            font-family: 'Times New Roman';
            font-size: x-large;
            font-weight: bold;
            margin-bottom: 10px;
            justify-content: center;
            color: var(--light-blue);
            text-shadow: 0 0 20px var(--light-blue);
        }
        .sum
        {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            font-size: x-large;
        }
        .docs
        {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }
        .cv
        {
            padding: 5px 10px 5px 10px;
            box-shadow: 0 0 10px var(--light-blue);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--mid-blue);
            border-radius: 10px;
            font-size: 95%;
            font-weight: bold;
        }
        #services
        {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px;
            border-radius: 20px;
            box-shadow: 5px 5px 20px black;
            scroll-snap-align: start;
        }
        .head
        {
            text-shadow: 0 0 5px white;
            height: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            font-size: 5vh;
        }
        .services
        {
            border-radius: 20px;
            width: 95%;
            height: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: scroll;
            flex-direction: row;
        }
        .service
        {
            width: 100%;
            border-radius: 20px;
            margin: 10px;
            height: 90%;
            box-shadow: white 0 0 10px;
            display: flex;
            flex-direction: column;
            border: solid;
            align-items: center;
        }
        .service figure
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50%;
            padding: 10px;
        }
        .service img
        {
            height: 100%;
            filter: drop-shadow(0 0 10px white);
        }
        .service span
        {
            width: 100%;
            font-size: 3.5vh;
            font-weight: bold;
            color: var(--light-blue);
            text-shadow: var(--light-blue) 0 0 10px;
            display:flex ;
            justify-content: center;
            align-items: center;
        }
        .service li
        {
            list-style-type: square;
            padding: 5px;
            font-weight: bold;
            font-size: 2.5vh;
        }
        .service p
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .skills
        {
            height: 100vh;
            width: 95vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px;
            border-radius: 20px;
            box-shadow: 5px 5px 20px black;
        }
        .cards
        {
            border-radius: 20px;
            width: clamp(100%, 75%, 50%);
            height: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: scroll;
        }
        .cards
        {
            width: 95%;
            height: 95%;
            display: flex;
            justify-content: center;

        }
        .skill
        {
            width: 100%;
            border-radius: 20px;
            margin: 10px;
            height: 50%;
            box-shadow: white 0 0 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .skill figure
        {
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 10px;
            justify-content: space-evenly;
            height: 60%;
            padding-top: 10px;
        }
        .skill figure li
        {
            list-style: none;
            height: 70%;
        }

        .skill img
        {
            height: 100%;
            filter: drop-shadow(0 0 10px white);
        }
        span
        {
            width: 90%;
            font-size: 5vw;
            font-weight: bold;
            color: var(--light-blue);
            text-shadow: var(--light-blue) 0 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
        }
        .skill li
        {
            list-style-type: square;
            padding: 5px;
            font-weight: bold;
        }

        #projects
        {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px;
            border-radius: 20px;
            box-shadow: 5px 5px 20px black;
            scroll-snap-align: start;
        }
        .head
        {
            text-shadow: 0 0 5px white;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            font-size: 5vh;
        }
        .projects
        {
            border-radius: 20px;
            width: 95%;
            height: 95%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: scroll;
        }
        .project
        {
            width: 100%;
            border-radius: 20px;
            margin: 10px;
            height: 95%;
            box-shadow: white 0 0 10px;
            display: flex;
            flex-direction: column;
            border: solid;
            align-items: center;
            border: none;
        }
        .project figure
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50%;
            padding: 10px;
        }
        .project img
        {
            height: 100%;
            filter: drop-shadow(0 0 10px white);
        }
        
        .project p
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .project span
        {
            width: 100%;
            font-size: 3.5vh;
            font-weight: bold;
            color: var(--light-blue);
            text-shadow: var(--light-blue) 0 0 10px;
            display:flex ;
            justify-content: center;
            align-items: center;
        }
        .project li
        {
            list-style-type: none;
            padding: 5px;
            font-weight: bold;
            font-size: 2.5vh;
        }
        .more
        {
            height: fit-content;
            width: fit-content;
            border: solid 1px var(--light-blue);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px 0 10px;
            margin: 10px;
            font-size: 25px;
            box-shadow: 0 0 20px 0 var(--light-blue);
            text-shadow: none;
            background-color: var(--light-blue);
        }
        #contacts
        {
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 10px;
            border-radius: 20px;
            box-shadow: 5px 5px 20px black;
            scroll-snap-align: start;
        }
        #contacts p
        {
            font-weight: bold;
            font-size: 3vh;
            color: var(--light-blue);
            text-shadow: var(--light-blue) 0 0 10px;
            padding: 10px;
        }
        .card
        {
            gap: 20px;
            width: 90%;
            height: 80%;
            border-radius: 20px;
            box-shadow: 0 0 10px var(--light-blue);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .soc
        {
            border-radius: 20px;
            width: 50%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0px 20px  0px;
            gap: 10vh;
        }
        .soc img
        {
            filter: drop-shadow(0 0 10px var(--light-blue));
            width: 15vh;
        }
        .soc li
        {
            list-style-type: none;
            display: flex;
            flex-direction: row;
        }
        .pro
        {
            gap: 10vh;
            width: 50%;
            height: 90%;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0px 20px  0px;
        }
        .pro img
        {
            width: 15vh;
            filter: drop-shadow(0 0 10px var(--light-blue));
        }
        .pro li
        {
            list-style-type: none;
            display: flex;
            flex-direction: row;
        }
}