/*---Defining Constants---*/
:root
{
    --dark-blue: rgb(11, 11, 27);
    --light-blue: rgb(38, 83, 245);
    --mid-blue: rgb(18, 26, 172);
    --font-1: Arial, Helvetica, sans-serif;
    --bio-img: url("bio background.png");
}

*
{
    margin: 0px;
    padding: 0px;
}

/*---General Settings---*/
body
{
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    font-size: large;
}
hr
{
    padding: 0px;
    margin: 5px;
}

#logo /*---Logo Configs---*/
{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    padding: 0px;
    margin: 0px;
    margin-left: 5px; 
    float: left; 
    cursor: default; 
}

#tail
{
    margin-left: 5px;
    color: var(--mid-blue);
}

#panel
{
    border: none;
    height: 40px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgb(11, 11, 27);
    font-family:Arial, Helvetica, sans-serif ;
}

#panel img
{
    width: 60px;
}

#panel ul
{
    
    list-style: none;
    display: flex;
}

#panel li
{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
}

#panel a
{
    text-decoration: none;
    color: aliceblue;
}

#tabs
{
    float: right;
    padding: 0px;
    margin: 0px;
}

#tabs li
{
    font-size: medium;
    font-weight: bold;
}

#tabs a
{
    color: white;
    transition: color 300ms ease; 
}
#tabs a:hover
{
    color: var(--light-blue);
}

#tabs img
{
    background-color: var(--dark-blue);
    border-radius: 20%;
    transition: color 1000ms ease;
}

#tabs img:hover
{
    background-color: white;
}

#sub/*---Sub tabs Settings---*/
{
    margin: 0px;
    padding: 3px;
    border: none;
}

#searchbar 
{
    float: left;
    padding: 0px;
    margin: 0px;
}
#search
{
    font-family: var(--font-1);
    font-size: small;
    font-weight: bold;
}
#sectabs
{
    float: right;
    padding: 0px;
    margin: 0px;
}
#sectabs img
{
    width: 30px;
    background-color: white;
    border-radius: 50%;
}
#sectabs a
{
    text-decoration: none;
    color: white;
    font-family: var(--font-1);
    font-size: small;
    font-weight: bold;
    transition: color 300ms ease; 
}
#sectabs a:hover
{
    color: var(--light-blue);
}
/*---End of Header Settings---*/

/*---Intro Settings---*/
#intro
{
    margin: 5px;
    padding: 0px;
    border-style: none;
    border-radius: 20px;
    align-items: center;
    background-image:var(--bio-img);
    background-size: contain;
}
#img img
{
    padding: 5px;
    width: 30%;
    float: left;
    border-radius: 50%;
    background-color:var(--light-blue);
}
#heading
{
    font-weight:bolder;
    font-size: xxx-large;
    color: var(--light-blue);
}
#text
{
    padding: 5px;
    color: white;  
    width: 65%;
    height: 100%;
    float: right; 
    font-size: x-large; 
    background-color: rgba(11, 11, 27, 0.829);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
/*---End of Intro Settings---*/

/*---Skills Settings---*/

#code
{
    margin: 20px;
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    align-items: center;
    background-size: contain;
    background-color: var(--dark-blue);
}
#codeimg img
{
   width: 30%;
   float: left; 
   border-radius: 20px;
   margin-left: 5%;
}
#pcb
{
    margin: 20px;
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    align-items: center;
    background-size: contain;
    background-color: var(--dark-blue);
}
#pcbimg img
{
    width: 40%;
    float: left; 
    border-radius: 20px;
}
#cad
{
    margin: 20px;
    border: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    align-items: center;
    background-size: contain;
    background-color: var(--dark-blue);
}
#cadimg img
{
    width: 40%;
    float: left; 
    border-radius: 20px;
}
#title
{
    font-size:x-large;
    font-weight: bold;
    color: var(--light-blue);
}
#codetxt
{
    margin: 10px;
    float: right;
    font-size: 10%;
    width: 50%;
    height: 100%;
    color: white;
    font-size: large;
}
#head
{
    font-weight: bold;
}

#pcbtxt
{
    margin: 10px;
    float: right;
    width: 50%;
    height: 100%;
    color: white;
    font-size: large;
}
#cadtxt
{
    margin: 10px;
    float: right;
    width: 50%;
    height: 100%;
    color: white;
    font-size: large;
}


/*---Skills Settings---*/
#projects
{
    margin: 5px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    align-items: center;
    background-size: contain;
}

#bar
{
    border:none;
}

/*---Footer settings---*/
#footer /*---Footer general settings*/
{   
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: fixed;
    font-size: small;
    background-color: var(--dark-blue);
}
#footer li /*---Footer list Settings---*/
{
    list-style: none;
}
#footer a /*-Footer link settings-*/
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navb
{
    float: left;
    display: flex;
    padding-left: 10px;
}
.navb img
{
    width: 30px;
    background-color: white;
    border-radius: 50%;
}

.socb
{
    display: flex;
    float: right;
    padding: 0px;
    padding-right: 10px;
    margin: 0px;
}
.socb img
{
    width: 30px;
    padding-left: 30px;
}

#copyright
{
    text-align:center;
    color: aliceblue;
    font-weight: bold;
    padding: 5px;
    padding-top: 30px;
    font-family: var(--font-1);
}

/*---End of Footer Settings---*/